Defaults always_set_home
Defaults env_reset
Defaults env_keep = "{{ sudo_env_keep | join(" ") }}"
Defaults secure_path = "{{ sudo_secure_path | join(":") }}"

root ALL=(ALL) ALL
{% for group in sudo_groups %}
%{{ group }} ALL=(ALL) NOPASSWD: ALL
{% endfor %}
{% if sudo_rules | default(False) %}

{% for rule in sudo_rules | default([]) %}
{{ rule }}
{% endfor %}
{% endif %}

#includedir /etc/sudoers.d
